* {
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: Gilroy;
   list-style: none;
}
.body {
   background-color: #f8f8f8;
   overflow-x: hidden;
   font-size: 18px;
}

.body-image img {
   width: 1500px;
   height: auto;
}
.body-image-text {
   position: absolute;
   top: 9.125rem;
   left: 10rem;
   color: white;
}
h1 {
   font-size: 64px !important;
}
#students {
   font-size: 64px;
   color: #ff647c;
   background: white;
   padding: 0 1rem;
   border-radius: 8px;
}
.section-1 {
   margin-top: 23rem;
   background-color: #E4E4E4;
   padding: 2%;
}

.com-logo img {
   padding: 1%;
}
.finding-talent-hr {
   width: 100px;
   height: 5px;
   margin-left: 45% ;
   background: #ff647c;
}
.finding-young-talent {
   margin: -110px 9% ;
   position: absolute;
   width: 1070px;
   height: 439px;
   background: white;
   padding: 3rem 4.31rem;
   box-shadow: 2px 8px 24px rgba(186, 213, 249, 0.16);
   border-radius: 8px;
}

.buttons {
   width: 200px;
   height: 61px;
   font-size: 24px !important;
   /* padding: 0.5rem 3rem !important; */
}
.why-choose-us-text {
   background: white;
   margin-top: 4rem;
   
}
.why-choose-us {
   margin-top: 4rem;
}
.why-choose-us img {
   width: 598px;
   height: 486px;
}
.why-choose-us-text p {
   font-weight: bold;
   font-size: 32px;
   padding: 3.75rem 3.75rem 0 3.75rem;
}
.why-choose-us-text li {
   padding: 0 0 0 1.5rem;
   line-height: 50px;
}
#square {
   width: 10px;
   height: 10px;
   background: #ff647c;
   display: inline-block;
   margin-right: 1rem;
}
.free-job-img img {
   width: 1500px;
   height: auto;
}
.free-job-img-section {
   margin-top: 4rem;
}
.cards-section {
   margin: 25rem 0 4rem 0;
} 
.card-images img {
   width: 100%;
   height: auto;
}
.card {
   border-radius: 8px !important;
}
.acct-mgr {
   padding: 0 0 1.6rem 0;
}
.Need-help h3 {
   font-weight: bold;
   font-size: 28px;
   line-height: 39px;
}
.Need-help p{
   font-size: 21px;
   padding: 2rem 0;
   line-height: 28px;
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 950px) {

}
@media screen and (max-width: 650px) {

}
@media screen and (max-width: 480px) {
   .body-image {
      width: 100%;
      height: auto;
   }
   .body-image-text h1 {
      font-size:44px !important;
      margin-left: -140px;
   }
   #students {
      font-size: 36px !important;
   }
   .finding-young-talent {
      width: 330px;
      height: inherit;
      font-size: 16px !important;
      padding: 3rem 2rem;
      margin: -110px 15px;
   }
   h2 {
      font-size: 28px !important;
   }
   .section-1 {
      margin-top: 43rem;
   }
   .buttons {
      width: 150px;
      margin: 0.5rem 0 !important;
   }
   .why-choose-us img {
      width: 100%;
      height: auto;
   }
   .why-choose-us-text p {
      font-size: 28px;
      padding: 3.75rem 15px 0 15px;
      text-align: center;
   }
   .why-choose-us-text li {
      font-size: 16px;
      line-height: 35px;
      padding: 0 1.5rem 0 0;
   }
   .free-job-img img  {
      /* width: 100%; */ 
   }
   .cards-section {
      margin-top: 38rem;
   }
   .card-deck .card {
      margin-bottom: 30px !important;
  }
  .buttons {
     font-size: 18px !important;
  }
}